<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SimpleMediaCenter</title>
    <link rel="stylesheet" href="~/css/site.css" />

    @* Use ViteService to inject the necessary Vite assets *@
    @using SimpleMediaCenter.Services
    @using System.IO;
    @inject ViteService ViteService

    @{
        var isDebug = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development";
        var staticUrl = "/dist/";  // The path where Vite outputs static files in production
        var manifestPath = System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", "node__dist", "manifest.json");
        var clientComponentsPath = "node_src/";  // Path to your main JS entry point

        // Call ViteService to get the assets for the environment
        var viteAssets = ViteService.LoadViteAssets(isDebug, staticUrl, clientComponentsPath, manifestPath);
    }

    @* Output the result from the ViteService *@
    @Html.Raw(viteAssets)
</head>
<body>

    <header>


        <side-top-top-navigation>
          <div slot="primary-topbar">  <div class="flex justify-center items-center w-full h-[5rem]">
    <h1>MySite</h1>
  </div></div>
          <div slot="sidebar">
        <div class="">
            <a href="/">Home</a>
            <a href="/Media/List">Movies</a>
            <a href="/Scan">Scan</a>
        </div></div>
        </side-top-top-navigation>
    </header>

    <main class="responsive-container stt-navigation-main-content">
        @RenderBody()
    </main>
</body>
</html>
